.resimSlide{
    height: 800px;
    width: 800px;
    
}

body{
    padding-top: 50px;
    height: 1600px;
}

.container {
    text-align: center;
    flex: 33.33%;
    padding: 10px;
    margin: 5px;
    width: 200px;
    display: flex;
    text-align: center;
    
  }


p{
    text-align: center;
    padding-top: 30px;
}



.col{
    height: 600px;
    background-color: white;
    text-align: center;
    flex: 40%;
    padding: 10px;
    width: 400px;
    margin-left: 100px;
   
}

.akadro{
   width: 1300px;
   height: 1600px;
   content: center;
}

.col-md-8{
    width: 1200px;

}

.mb-3{
    margin-left: 450px;
    text-align: left;
}

.card-text{
    margin-right: 450px;
    text-align: left;
    height: 200px;
    margin-top: auto;
    padding: 20px 0px 0px;
}

.card-title{
    margin-right: 450px;
    text-align: left;
}